
*.rpt

*.done

*.summary

*.pin

*.qpf

*.qsf

*.tdf

*.qdf
*.bak
*.cdb
FPGASimpleComputer/db/FPGASimpleComputer.(0).cnf.hdb
*.hdb
*.rdb
FPGASimpleComputer/db/FPGASimpleComputer.asm_labs.ddb
*.xml
FPGASimpleComputer/db/FPGASimpleComputer.cmp.ecobp
*.kpt
FPGASimpleComputer/db/FPGASimpleComputer.cmp.tdb
*.ddb
FPGASimpleComputer/db/FPGASimpleComputer.db_info
*.qmsg
FPGASimpleComputer/db/FPGASimpleComputer.hif
*.html
FPGASimpleComputer/db/FPGASimpleComputer.map.bpm
*.ecobp
FPGASimpleComputer/db/FPGASimpleComputer.map_bb.logdb
*.logdb
*.sci
FPGASimpleComputer/db/FPGASimpleComputer.smart_action.txt
*.syn_hier_info
FPGASimpleComputer/db/logic_util_heursitic.dat
*.pof
FPGASimpleComputer/FPGASimpleComputer.sof
*.dfp
FPGASimpleComputer/incremental_db/compiled_partitions/FPGASimpleComputer.root_partition.cmp.rcfdb
*.rcfdb
FPGASimpleComputer/incremental_db/compiled_partitions/FPGASimpleComputer.root_partition.map.dpi
FPGASimpleComputer/db/FPGASimpleComputer.rom0_SCOMP_57f0825.hdl.mif
FPGASimpleComputer/db/FPGASimpleComputer.hier_info
*.bpm
FPGASimpleComputer/db/FPGASimpleComputer.lpc.txt
FPGASimpleComputer/db/FPGASimpleComputer.smp_dump.txt
